* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.container {
    display: flex;
}

.text-line {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 10rem;
}