body {
    font-family: 'Roboto Mono', monospace;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.img {
    display: flex;
    width: 30%;
    height: 96%;
    margin: 1% 1% 1% 1%;
    background: url(https://github.com/asad0306/sign-up-form/blob/main/Jaan.jpeg?raw=true) no-repeat center;
    background-size: cover;
    align-content: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
}

.img-description {
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 100%;
    color: white;
    font-weight: 900;
}



